.Chat-main
  .Chat-main__group-info
    .Main-group
      .Main-group__name
        柱
      .Main-group__member
        Member：炭治郎　義勇　しのぶ
    .Group-edit
      = link_to edit_group_path(@group) do
        Edit
  .Chat-main__message-list
    .Chat-container
      .Chat-message
        .Chat-name
          .Chat-name__box
            義勇
        .Chat-date
          2020年06月09日 20時26分
      .Chat-comment
        俺は嫌われていない
      .Chat-message
        .Chat-name
          .Chat-name__box
            しのぶ
        .Chat-date
          2020年06月09日 21時33分
      .Chat-comment
        こんばんは。今夜は月が綺麗ですね
  .Chat-main__message-form
    %form
    = form_with model: [@group, @message], html: {class: "Form-all"}, local: true do |f|
      .Forms
        = f.text_field :content, class: 'Forms__input-box', placeholder: 'type a message'
        = f.label :image, class: 'Forms__label' do
          = icon('far', 'images', class: 'Form__icon')
          = f.file_field :image, class: 'Forms__image-file'
      = f.submit 'Send', class: 'Forms__btn'